*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15%;
    border-bottom: 2px solid blueviolet;
    margin-bottom: 20px;
    align-items: center;
}
.Nav .Right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Nav .Right .One{
    margin-right: 10px;
}
.Nav  .Left h1{
    color: blueviolet;
}
.Nav .Right .One .one{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.Nav .Right .One .one:hover{
    color: blueviolet;
}
.StudentForm{
    padding: 20px 15%;
    text-align: start;
    margin-top: 130px;
}
.StudentForm form label{
    font-size: 18px;
    color: blueviolet;
}
.StudentForm form input{
    width: 100%;
    margin: 10px 0;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.StudentForm form input:hover{
    border: 2px solid blueviolet;
}
.StudentForm form select {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.StudentForm form button{
    border: 0;
    padding: 0;
    background: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
}
.form-container{
    padding: 20px 15%;
    text-align: start;
    margin-top: 130px;
}
.form-container form label{
    font-size: 18px;
    color: blueviolet;
}
.form-container form input{
    width: 100%;
    margin: 10px 0;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.form-container form input:hover{
    border: 2px solid blueviolet;
}
.form-container form button{
    border: 0;
    padding: 0;
    background: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
}